body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #e49dfa;
    font-size: 1em;
}

#wrapper {
    background-color: white;
    margin: auto;
    width: 95%;
    padding: 15px;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}

#helpButton {
    border: 1px solid gray;
    display: inline-block;
    padding: 5px;
}

#help {
    display: none;
    border: 1px solid gray;
    padding: 5px;
}

form {
    margin: 20px auto auto auto;
}
#output {
    display: none;
}

@media screen and (min-width: 600px) {
    #wrapper {
        width: 500px;
    }
  }
